<!DOCTYPE html>
<html ng-app="cooperApp">
<head>
    <title></title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/4.3.1/css/foundation.css"/>
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">-->
    <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>-->
    <link rel="stylesheet" href="css/app.css" />
</head>
<body ng-controller="CooperCtrl">
<div class="ng-cloak">

    <cooper-settings></cooper-settings>

    <div class="medium button expand" ng-click="start()">
        <h1>{{cooper.started ? "Lap" : "Start" }}</h1>
    </div>

    <cooper-counter></cooper-counter>

    <div class="secondary button expand" ng-hide="!cooper.started" ng-click="cooper.reset()">
        <h3>Reset</h3>
    </div>

</div>
<script src="//code.angularjs.org/1.2.0rc1/angular.min.js" type="application/javascript"></script>
<script src="js/app.js" type="application/javascript"></script>
</body>
</html>